<!DOCTYPE html>
<html lang="en"><head>
  <meta charset="UTF-8"/><meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>Edit Post</title>
  <link rel="stylesheet" href="/css/style.css"/>
</head><body class="">

<%- include('partials/header', { active: null }) %>
<main style="padding-top:6rem; max-width:600px; margin:auto;">
  <h1>Edit Post</h1>
  <form action="/admin/edit/<%= post.slug %>?pass=daveygravy" method="POST">
    <input type="text" name="title" value="<%= post.title %>" required/>
    <textarea name="content" rows="10" required><%= post.content %></textarea>
    <button class="button">Save Changes</button>
  </form>
</main>
<%- include('partials/footer') %>
